{% extends "projects/base.html" %}

{% block contents %}
<article>
    <!--<figure><img src="{{ repo }}/static/img/quote.jpg" alt=""></figure>-->
</article>

{% filter markdown %}
Gleegue is hosting a set of amazing projects this year, some key projects are listed below:

- <a href="/blog/growth-card">Growth card</a>

- <a href="/blog/gltales">GL Tales</a>

- <a href="/blog/mad-lab">Mad Lab</a>

- <a href="/blog/sonar">SONAR</a>

- Mad Theatre of Arts

- Go green!

{% endfilter %}

{% endblock contents %}