{% extends "track/base.html" %}

{% block contents %}
<article>
    <!--<figure><img src="{{ repo }}/static/img/quote.jpg" alt=""></figure>-->
</article>

{% filter markdown %}
Guyss - here are the individual class trackers ( tracks POA , Records what happened class, Sets up the Growth Card, and records the kid specific observations :)  ) - Buddies drive it to keep it current :) - it will be super powerful data in a few months time :)- Cheers!!
    
> - <a href="https://docs.google.com/spreadsheets/d/1c3gcdQ9eW--HRZ2naoUqmmtq4SEcaP1W-ARhGkJU_ZU/" target="_blank">Class 5</a>
> - <a href="https://docs.google.com/spreadsheets/d/1D4qi--t7QGpqH2M4jt5hmB6ajs7HLyMHq4MScuAk2U0/" target="_blank">Class 6</a>
> - <a href="https://docs.google.com/spreadsheets/d/15ryazqUd80Im5jXM-VkGHXzCYGCKUoim9DXW8z9KKCU/" target="_blank">Class 7</a>
> - <a href="https://docs.google.com/spreadsheets/d/1ORAinnPNxAy0ULRz0ytGVjLWMqPopgYCi03ONptkPiE/" target="_blank">Class 8</a>

{% endfilter %}

{% endblock contents %}