{% extends "photos/base.html" %}

{% block contents %}
{% filter markdown %}
frozen space-time cross-section projected by little bulbs that mimics reality in a way that we think it is real, But what is really real? if we consider the idea that our eyes are antennas resonating with electromagnetic waves that just is 'called' the visible spectrum, then 'reality' is just a common sense idea, one that we really don't ponder about much.

hmmm. So why are we here? oh, photos! coming soon buddy :D
{% endfilter %}
{% endblock contents %}